// Variables
$primary-color: #bd0542;
$secondary-color:#413f3f;

.bg-dark {
    background-color: $primary-color !important;
}

.dashboardHeading{
    color: $secondary-color;
}

[role="main"] {
    padding-top: 55px;
}

.sidebar {
    font-size: x-large;
    text-align: left;
    color: #5e0623;
}

.sidebar a:hover
 {
    color: whitesmoke;
}

ul {
   position: relative;
   right: 35px;
   bottom: 35px;
  }